/node_modules/
/coverage/
/documents/
npm-debug.log
.nyc_output
yarn-error.log
yarn.lock
/benchmark/
/performance-tests/setup/
/dist
/.idea
*.iml
/tmp
key
/.vscode/
/vc-test-suite
.DS_Store

# create config related
wallet.json
example-configs