{
  "branches": [
    {
      "name": "master",
      "release": true
    },
    {
      "name": "v3",
      "prerelease": "alpha"
    }
  ],
  "tagFormat": "v${version}",
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "releaseRules": [
          {
            "subject": "*BREAKING CHANGE*",
            "release": "major"
          },
          {
            "footer": "*BREAKING CHANGE*",
            "release": "major"
          },
          {
            "type": "feat",
            "release": "minor"
          },
          {
            "type": "fix",
            "release": "patch"
          },
          {
            "type": "perf",
            "release": "patch"
          }
        ]
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "presetConfig": {
          "types": [
            {
              "type": "feat",
              "section": "Features",
              "hidden": false
            },
            {
              "type": "fix",
              "section": "Bug Fixes",
              "hidden": false
            },
            {
              "type": "docs",
              "section": "Miscellaneous Chores",
              "hidden": false
            },
            {
              "type": "chore",
              "section": "Miscellaneous Chores",
              "hidden": false
            }
          ]
        },
        "parserOpts": {
          "noteKeywords": [
            "BREAKING CHANGE",
            "BREAKING CHANGES",
            "BREAKING"
          ]
        }
      }
    ],
    [
      "@semantic-release/npm",
      {
        "npmPublish": true
      }
    ],
    "@semantic-release/github"
  ],
  "prepare": [
    "@semantic-release/npm",
    {
      "path": "@semantic-release/exec",
      "cmd": "npx pkg ./package.json --out-path dist/@tradetrust-tt -t node14-linux-x64,node14-macos-x64,node14-win-x64"
    }
  ],
  "publish": [
    "@semantic-release/npm",
    {
      "path": "@semantic-release/github",
      "assets": [
        {
          "path": "./dist/@tradetrust-tt/tradetrust-cli-linux",
          "name": "tradetrust-linux",
          "label": "tradetrust-linux"
        },
        {
          "path": "./dist/@tradetrust-tt/tradetrust-cli-macos",
          "name": "tradetrust-macos",
          "label": "tradetrust-macos"
        },
        {
          "path": "./dist/@tradetrust-tt/tradetrust-cli-win.exe",
          "name": "tradetrust-win.exe",
          "label": "tradetrust-win.exe"
        }
      ]
    }
  ]
}