{
  "prepare": [
    "@semantic-release/npm",
    {
      "path": "@semantic-release/exec",
      "cmd": "npx pkg ./package.json --out-path dist/@govtechsg"
    }
  ],
  "publish": [
    "@semantic-release/npm",
    {
      "path": "@semantic-release/github",
      "assets": [
        {
          "path": "./dist/@govtechsg/open-attestation-cli-linux",
          "name": "open-attestation-linux",
          "label": "open-attestation-linux"
        },
        {
          "path": "./dist/@govtechsg/open-attestation-cli-macos",
          "name": "open-attestation-macos",
          "label": "open-attestation-macos"
        },
        {
          "path": "./dist/@govtechsg/open-attestation-cli-win.exe",
          "name": "open-attestation-win.exe",
          "label": "open-attestation-win.exe"
        }
      ]
    }
  ]
}
